<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMsqKIgHcQ4wXH9Ow95WHHxjRY0jZa0Cs</string>
	<key>GCM_SENDER_ID</key>
	<string>236974689896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.productmate</string>
	<key>PROJECT_ID</key>
	<string>product-mate</string>
	<key>STORAGE_BUCKET</key>
	<string>product-mate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236974689896:ios:b201ab5b4ed0cdb18cf5dd</string>
</dict>
</plist>